<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/flat-ui.css">
        <link rel="stylesheet" href="css/blueimp-gallery.min.css">
        <link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        
        <div class="row">

            <div class="col-sm-3 menu">

                <div class="logo">
                    <h1>CHRISTELLE DREUX, ARTISTE</h1>
                    <h3>Nice, France</h3>

                    <ul>

                    </ul>

                    <p><b>Contact</b></p>

                    <p><b>Expositions</b></p>

                    {{#each albums}}
                        <a href="#{{name}}">{{name}}</a> |
                    {{/each}}

                </div>

            </div>
            <div class="col-sm-3"></div>
            

            <div class="col-sm-9">
                {{#each albums}}
                <div class="row">
                    <div class="col-sm-12">
                        <a class="album" name="{{name}}"><span>{{name}}</span></a>
                    </div>
                </div>  
                <div class="row">

                    {{#each items}}
                    <div class="col-sm-4">
                    {{#each this}}

                        <a href="{{src}}" title="{{name}}" class="thumbnail" data-gallery>
                            <img src="{{thumbnail}}" alt="{{name}}">
                            <p>{{name}}</p>
                        </a>                        

                    {{/each}}
                    </div>
                    {{/each}}
                </div>

                {{/each}}
            </div>
        

            {{!-- {{#each rows}}

            <div class="col-sm-3">

                {{#each this}}

                {{#if thumbnail}}
                <a href="{{src}}" title="{{name}}" class="thumbnail" data-gallery>
                    <img src="{{thumbnail}}" alt="{{name}}">
                </a>
                {{else}}
                
                {{/if}}

                {{/each}}

            </div>

            {{/each}} --}}


        </div>

        <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
            <!-- The container for the modal slides -->
            <div class="slides"></div>
            <!-- Controls for the borderless lightbox -->
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
            <!-- The modal dialog, which will be used to wrap the lightbox content -->
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body next"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left prev">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                Previous
                            </button>
                            <button type="button" class="btn btn-primary next">
                                Next
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/vendor/jquery.blueimp-gallery.min.js"></script>
        <script src="js/vendor/bootstrap.js"></script>
        <script src="js/vendor/bootstrap-image-gallery.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script>
            $('#blueimp-gallery').data('useBootstrapModal', false);
            $('#blueimp-gallery').toggleClass('blueimp-gallery-controls', true);
        </script>
    </body>
</html>
